.container{
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 200px auto;
   padding: 10px;
}
form input {
   border-radius:5px ;
   border: none;
   background-color: #0B1C3A;
   color: white;
   padding: 5px;
   font-size: 0.900rem;
   margin:5px auto ;
}
form textarea{
   background-color: #0B1C3A;
   color: white;
   margin-top: 10px;
   font-size: 1rem;
   padding: 5px;
}
h3{
   margin-top: 10px;
}
form label{
   justify-content: center;
   font-weight: bold;
}
form div{
   margin: 20px auto;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}
form div label{
   margin-left: 10px;
   align-items: center;
}
form input:focus{
   outline:3px #639cff;
}
button{
   padding: 10px;
   border-radius: 5px;
   background-color: #639cff;
   border: transparent;
   margin: 10px auto;
   font-weight: bold;
   font-size: 1rem;
   color: white;
   cursor:pointer;
}