*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
   background-color: #080E1A;
   color: white;
   font-family: 'Lato', sans-serif;;
}
#menu{
   display: flex;
   justify-content: space-between;
}
#nav ul{
display: flex;
list-style: none;

}
#menu a{
   text-decoration: none;
   color: white;
}
#menu li{
   padding: 10px;
}
.TalesDev{
   text-align: center;
   justify-content: center;
}
.principal{
   display: flex;
   justify-content: center;
   flex: 1 200px;
   gap:200px ;
   flex-wrap: wrap;
   height: 100vh;
   align-items: center;
}
.texto{
   max-width: 500px;
   text-align: justify;
   font-weight: 500;
}
.stacks{
   text-align: center;
}
.stacks p{
   margin: 15px 0;
}
.cards{
   text-align: center;
   display: flex;
   flex: 1 200px;
   gap: 1.2rem;
   flex-wrap: wrap;
   margin: 20px auto;
   justify-content: center;
   
}

section{
   text-align: center;
   margin: 100px auto;
   height: 500px;
   max-width: 1300px;
}

.seta{
   margin: 30px auto;
height: 20vh;
   justify-content: center;
   display: flex;
   
}
.seta img{
   height:50px ;
   width: 50px;
}
.cards div{
   text-align: justify;
   max-width: 300px;
background: rgba(11, 28, 58, 0.61);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
border: 1px solid rgba(11, 28, 58, 0.2);

   border-radius: 10px;
   padding: 10px;
  animation: opacidade 3s;
}
.cards div h3 {
   text-align: center;
}
.soft-skills{
   margin: 150px auto;
}
#digitador{
   display: flex;
   margin: 0 auto;
   justify-content: center;
   align-items: center;
}
@keyframes opacidade  {
   from{
      top: 80px;
      margin: -30px;
      opacity: 0;
   }to{
      top: 0;
      margin: 0;
      opacity: 1;
   }
}

#hamburger {
   border-top: 2px solid;
   width: 20px;
 }
 #hamburger::after,
 #hamburger::before {
   content: '';
   display: block;
   width: 20px;
   height: 2px;
   background: currentColor;
   margin-top: 5px;
   transition: 0.7s;
   position: relative;
 }
 #btn-mobile {
   display: none;
   padding: 0.5rem 1rem;
   font-size: 1rem;
   border: none;
   background: none;
   cursor: pointer;
   gap: 0.5rem;
   color: #fff;
   z-index: 1200;
 }
 *::-webkit-scrollbar {
   width: 5px;
 }
 
 
 *::-webkit-scrollbar-thumb {
   background-color: rgb(49, 49, 49);
   border-radius: 20px;
   
 }
/* MEDIA */
@media (max-width:600px) {
   #hamburger {
      border-top: 2px solid;
      width: 20px;
      
    }
   
   #menu {
    display: flex;
    flex-direction: column;
    position: absolute;
   height: 0px;
    width: 100%;
    transition: 1s;
    z-index: 1000;
    visibility: hidden;
    overflow-x: hidden;
    background: #00000b;
  }
  #menu ul {
   flex-direction: column;
   align-items: center;
  }
#menu #redes{ 
   display: flex;
   flex-direction: row;
   align-items: center;
   margin:200px auto;
   
}
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 1s;
      position: relative;
    }
    #btn-mobile{
      display: flex;
    }
    #nav.active #menu {
      height: 100%;
      visibility: visible;
      margin-right: 300px;
      overflow-x: hidden;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
}